.breadcrumbs {
  @include list-reset;
  display: flex;
  gap: 4px;
  margin-bottom: 24px;

  &--article {
    margin-bottom: 32px;
  }

  @include media-mobile2 {
    margin-bottom: 32px;
  }

  @include media-mobile3 {
    margin-bottom: 40px;

  }

  @include media-tablet {
    &--article {
      margin-bottom: 54px;
    }
  }

  @include media-desktop {
    margin-bottom: 30px;

  }
}

.breadcrumbs__item {
  display: flex;
  gap: 8px;
  align-items: center;
}


.breadcrumbs__item:not(:first-child)::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../img/icons/icon_arr.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}