.button {
  display: block;
  background-color: $color-btn-bg;
  padding: 12px;
  text-align: center;
  width: 182px;
  border-radius: 4px;
  border: none;

  &--psych {
    width: fit-content;
    padding: 14px 20px;
    // margin: 0 25px;
    background-color: $color-btn-bg-light;
  }

}

