.header {
  padding-top: 11px;
  padding-bottom: 11px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid $color-bg-light;
  margin-bottom: 24px;

  &--article {
    margin-bottom: 16px;
  }

  @include media-mobile2 {
    padding-top: 19px;
    padding-bottom: 19px;
    margin-bottom: 16px;
  }

  @include media-mobile3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include media-tablet {
    padding-top: 14px;
    padding-bottom: 14px;
    gap: 32px;
  }

  @include media-desktop {
    // justify-content: space-between;
    gap: 164px;

  }
}

.header__hidden {
  padding-bottom: 16px;
  background-color: $color-white;

  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 12px;

  @include media-tablet {
    flex-direction: row;
    gap: 20px;
  }
}

.header__list {
  @include list-reset($padd-left: 15px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
  // background-color: $color-white;

  @include media-tablet {
    flex-direction: row;
    // background-color: cadetblue;
  }

  @mixin media-desktop {
    gap: 30px;
  }
}

.header__item {
  padding-bottom: 5px;
  border-bottom: 1px solid $color-line;

  @include media-tablet {
    border-bottom: none;
  }
}

.header__button {
  margin: 0 auto;
}