// fonts

$font-base: "Montserrat", "Arial", sans-serif;


// colors
$color-black: #000000;
$color-white: #ffffff;

//  для текста
$color-text-base: #333333;
$color-text-light: #494949;


//  для кнопок

$color-btn-bg: #35b3a9;
$color-btn-bg-light: #e3f5f5;
$color-btn-txt: #03b2a5;

//  для фонов

$color-bg-base: #eff5fb;
$color-bg-footer: #2963a3;

//  для линий

$color-line: #c1c5cd;
$color-line-teg: #333333;
$color-line-card: #dedede;


//  для форм
$color-form-bg: rgba(157, 157, 157, 0.2);
$color-form: #9d9d9d;
$color-form-bg-img: #16c8bb;

$color-error: rgba(236, 152, 152, 0.62);

// WIDTH

$desktop-width: 1440px;
$tablet-width: 1024px;
$mobile-width3: 768px;
$mobile-width2: 414px;
$mobile-width1: 320px;


// * {
// outline: auto;
// }
