.visible {
  @media (max-width: 1023px) {


    box-sizing: border-box;
    display: block;
    border-bottom: 1px solid $color-line;
    position: absolute;
    left: 0;
    top: 60px;
    z-index: 1;
    width: 100%;
    background-color: $color-white;
  }
}
